@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap");


:root {
    --bs-font-sans-serif: "Nunito Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); 
}
  
*,
*::before,
*::after {
    box-sizing: border-box; 
}

@media (prefers-reduced-motion: no-preference) {
:root {
    scroll-behavior: smooth; } 
}
  


body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1F2937;
    background-color: #ffffff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.3;
    color: #1c2540; 
}
  
h1, .h1 {
    font-size: calc(1.375rem + 1.5vw); 
}
@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem; 
    } 
}
  
h2, .h2 {
    font-size: calc(1.325rem + 0.9vw); 
}
@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2rem; 
    } 
}

h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.75rem; 
    } 
}

h4, .h4 {
    font-size: calc(1.275rem + 0.3vw); 
}
@media (min-width: 1200px) {
    h4, .h4 {
        font-size: 1.5rem; 
    } 
}

h5, .h5 {
    font-size: 1.25rem; 
}

h6, .h6 {
    font-size: 1rem; 
}

a {
    color: #242e4c;
    text-decoration: none; 
}

a:hover {
    color: #0b0f18; 
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none; 
}

img {
    vertical-align: middle;
    width: 100%;
}

.hero {
    min-height: 100vh;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.signin-inner {
    width: 100%;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 1rem;
    border-color: #E5E7EB;
    padding: 3rem 3rem 1.5rem 3rem
}

label {
    font-weight: 600 !important;
    margin-bottom: 0.5rem !important;
}

.form-control {
    display: block;
    padding: 0.55rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4B5563 !important;
    background-color: #F9FAFB !important;
    background-clip: padding-box;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 1rem;
    box-shadow: inset 0 1px 2px rgba(23, 31, 56, 0.075) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

.form-control:focus{
    outline: 0 !important;
    color: #52547a;
    background-color: #fff;
    border-color: #4d62a3;
}

.btn {
    display: inline-block;
    font-weight: 600;
    line-height: 1.5;
    color: #1F2937;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 0.0625rem solid transparent;
    padding: 0.55rem 0.75rem;
    font-size: 1rem;
    border-radius: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

.btn-sm {
    padding: 0.25rem 0.5rem !important;
}

.btn-wrapper {
    margin-top: 3rem;
}

.btn:hover {
    color: #1F2937; 
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(36, 46, 76, 0.25); 
}

.btn-check:checked + .btn,
.btn-check:active + .btn, .btn:active, .btn.active {
    box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125); 
}

.btn-check:checked + .btn:focus,
.btn-check:active + .btn:focus, .btn:active:focus, .btn.active:focus {
    box-shadow: 0 0 0 0.2rem rgba(36, 46, 76, 0.25), inset 0 3px 5px rgba(23, 31, 56, 0.125); 
}

.btn:disabled, .btn.disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none; 
}

.btn-primary {
    color: #ffffff;
    background-color: #242e4c;
    border-color: #242e4c;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075); 
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #1f2741;
    border-color: #1d253d; 
}

.btn-google {
    width: 5rem;
    height: 4rem;
    border-radius: 0.875rem;
    color: #E5E7EB;
    border-color: #E5E7EB;
}

.btn-google:hover {
    color: #1c2540;
    background-color: #E5E7EB;
    border-color: #E5E7EB;
    box-shadow: 0 0 0 0.2rem rgba(229, 231, 235, 0.5);
}

.text-border:before {
    right: 0.5em;
    margin-left: -50%;
    background: linear-gradient(90deg, transparent, rgba(117, 117, 117, 0.4), rgba(117, 117, 117, 0.4));
    content: "";
    display: inline-block;
    width: 43%;
    height: 1px;
    position: relative;
    vertical-align: middle;
}

.text-border:after {
    left: 0.5em;
    margin-right: -50%;
    background: linear-gradient(90deg, transparent, rgba(117, 117, 117, 0.4), rgba(117, 117, 117, 0.4));
    content: "";
    display: inline-block;
    width: 43%;
    height: 1px;
    position: relative;
    vertical-align: middle;
}

.text-gray {
    color: #424767 !important; 
}

.text-primary {
    color: #242e4c !important; 
}
  

.text-white, .text-white:hover {
    color: #ffffff !important; 
}

@media (min-width: 768px) {
    .text-md-left {
      text-align: left !important; 
    }
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #ffffff;
    background-color: #1f2741;
    border-color: #1d253d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(23, 31, 56, 0.075), 0 0 0 0.2rem rgba(69, 77, 103, 0.5); 
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #1d253d;
    border-color: #1b2339; 
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(23, 31, 56, 0.125), 0 0 0 0.2rem rgba(69, 77, 103, 0.5); 
}
.btn-primary:disabled, .btn-primary.disabled {
    color: #ffffff;
    background-color: #242e4c;
    border-color: #242e4c; 
}

.normal-letter {
    font-weight: 400;
}

.bold-letter {
    font-weight: 600;
}

.text-underline {
    text-decoration: underline;
}

/* =============== NAVBAR ====================== */
.navbar-main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100; 
}

.navbar-main .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"); 
}

.headroom {
    will-change: transform;
    background-color: inherit;
    transition: all 0.2s ease; 
}

.position-fixed, .headroom--pinned, .headroom--unpinned {
    position: fixed !important; 
}

.headroom--pinned {
    transform: translateY(0%); 
}

.headroom--unpinned {
    transform: translateY(-100%); 
}

.headroom--not-top.navbar-theme-primary {
    background-color: #1c2540;
}

/******/
@media (prefers-reduced-motion: reduce) {
    .headroom {
        transition: none; 
    } 
}

.navbar-brand {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase; 
}

.navbar-brand img {
    height: 37px;
    max-width: none; 
}

.navbar-collapse {
    width: auto;
    flex-basis: 100% !important;
    flex-grow: 1;
    align-items: center; 
}

.navbar-collapse-header {
    display: none; 
}

.nav-link {
    color: #fff; 
    outline: none;
}

.nav-link:hover, 
.nav-link.active {
    color: #893168 !important; 
}

.nav-link span {
    position: relative; 
}

.nav-link span:hover {
    color: #fff;
}

.nav-link > span {
    color: #ffffff; 
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; 
}

.navbar-nav .dropdown-menu {
    position: static;
}

.navbar .navbar-nav .dropdown-megamenu {
    margin-top: -0.1rem;
    border: 0;
}

.dropdown:hover,  .dropdown:focus {
    border:none;
    outline: none !important
}

.dropdown:focus-visible {
    outline: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle:empty::after {
    margin-left: 0; 
}

.dropdown-menu {
    border: 0.0625rem solid #E5E7EB !important;
    border-radius: 1rem !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar .navbar-nav .nav-link-arrow {
    transition: transform 0.2s ease; 
}

.navbar .navbar-nav .dropdown-megamenu .megamenu-link {
    color: #1F2937;
    font-weight: 400;
    font-size: 0.875rem;
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.navbar .navbar-nav .dropdown-megamenu .megamenu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .navbar-nav .dropdown-megamenu .megamenu-list .megamenu-link:hover {
    color: #893168 !important;
}

.user-info img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info .user-name {
    margin-top: 1rem;
}

.user-info span {
    color: #fff;
}

.user-info:hover {
    cursor: pointer;
}

.user-info:hover .user-name{
    color: #893168 !important;
}

@media (max-width: 991.98px) {

    .nav-link, .navbar .navbar-nav .nav-link { 
        color: #374151 !important; 
        font-size: 1.2rem !important;
        padding: 0.5rem 1rem 0.5rem 0rem;
        display: flex !important;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between !important;
        -ms-flex-pack: space-between;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center; 
    } 

    .navbar .navbar-nav .nav-link:hover {
        color: #893168 !important;
    }

    .nav-item .nav-link > span,  
    .nav-item .nav-link:hover > span {
        color: #1c2540;
    }

    .dropdown-menu {
        border: 0 !important;
        box-shadow: none;
    }

    .navbar .navbar-nav .dropdown .dropdown-item {
        font-size: .9rem; 
    }

    .navbar-collapse {
        width: calc(100% - 30px);
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 1050;
        overflow-y: auto;
        height: calc(100vh - 30px) !important;
        opacity: 0; 
    } 

    .navbar-collapse .navbar-collapse-header {
        display: block;
        padding-bottom: 1rem;
        margin-bottom: 1rem; 
    }

    .navbar-collapse .collapse-brand img {
        height: 37px; 
    }

    .navbar-collapse .collapse-close {
        text-align: right; 
    }

    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        padding: 1.5rem;
        border-radius: 1rem;
        background: #ffffff;
        animation: show-navbar-collapse .2s ease forwards;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    }

    .navbar-collapse.collapsing-out {
        animation: hide-navbar-collapse .2s ease forwards; 
    }

    .card-img-top {
        height: 100% !important;
    }

}

@keyframes show-navbar-collapse {
    0% {
      opacity: 0;
      transform: scale(0.95);
      transform-origin: 100% 0; }
    100% {
      opacity: 1;
      transform: scale(1);
    } 
}

@keyframes hide-navbar-collapse {
    from {
      opacity: 1;
      transform: scale(1);
      transform-origin: 100% 0; 
    }
    
    to {
      opacity: 0;
      transform: scale(0.95); 
    } 
}


@media (min-width: 992px) {

    .card-img-top {
        height: 100% !important;
    }

    .navbar-nav .dropdown-megamenu {
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar .navbar-nav .dropdown-megamenu {
        min-width: 420px;
    }

    .navbar .navbar-nav .dropdown-megamenu .megamenu-item {
        position: relative;
    }

    .navbar .navbar-nav .dropdown-toggle.show .nav-link-arrow {
        transform: rotate(180deg); 
    }

    .navbar .navbar-nav .dropdown-toggle:hover .nav-link-arrow {
        transform: rotate(180deg);
    }
}

/*=================== HOME =================== */

.section-header {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 3rem; 
}

@media (min-width: 576px) {
    .card-img-top {
        height: 300px !important;
    }

    .section-header {
        position: relative;
        padding-top: 10rem;
        padding-bottom: 6rem;
    }

    .section {
        position: relative;
        padding-top: 6rem;
        padding-bottom: 6rem; 
    }

    .section-lg {
        padding-top: 8rem;
        padding-bottom: 8rem; 
    }
}

.bg-dark {
    background-color: #1c2540 !important; 
}

.bg-secondary {
    background-color: #1c2540 !important;
}

.bg-gray {
    background-color: #E5E7EB !important; 
}

.header-title {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 600;
    line-height: 1.3; 
}

figure {
    margin-bottom: -0.5rem!important
}

.fill-white {
    fill: #fff;
}

/*========== SECTION =======*/
.section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem; 
}

.shadow {
    box-shadow: 0 .5rem 1rem 0.5rem rgba(0,0,0,.15) !important;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.icon {
    text-align: center;
    display: inline-flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; 
}

.icon span {
    font-size: 2.25rem; 
}

.icon-facebook, .icon-facebook:hover {
    color: #0d6efd;
}

.icon-twitter, .icon-twitter:hover {
    color: #1d9bf0;
}

.icon-github, .icon-github:hover {
    color: #0b0f18;
}

.icon-linkedin, .icon-linkedin:hover {
    color: #0a66c2;
}

.card-file {
    transition: all .2s ease;
}

.card-file .icon-date, .card-file .file-date {
    font-size: 0.8rem;
}

.card-file:hover {
    cursor: pointer;
    transform: scale(1.11111);
}

.btn-download {
    color: #fff;
    font-size: 0.875rem;
    background-color: #893168;
    border-color: #893168;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(23 31 56 / 8%);
}

.btn-download:hover {
    color: #fff;
    background-color: #742a58;
    border-color: #6e2753;
}

footer img {
    width: auto !important;
}

.footer-logo-text {
    font-size: 1.2rem;
    font-weight: 600!important;
}